---

# component settings
####################

notebook_user: jupyter
notebook_user_home: /home/{{ notebook_user }}
notebook:
  home: '{{ notebook_user_home }}'
  path: '{{ notebook_user_home }}/notebook'
  notebook_dir: '{{ notebook_user_home }}/notebook/data'
  user: '{{ notebook_user }}'
  group: '{{ notebook_user }}'
  recreate_venv: false # set to true after an OS upgrade if necessary

# unattended upgrades
unattended_upgrades__auto_reboot: True
unattended_upgrades__auto_reboot_time: "03:40"
# release upgrades needed on Ubuntu
# - see https://github.com/debops/ansible-unattended_upgrades/issues/14
unattended_upgrades__release: True
