[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile={{ notebook.home }}/jupyter.pid
ExecStart="{{ notebook.home }}/start_jupyter.sh"
User={{ notebook.user }}
Group={{ notebook.group }}
WorkingDirectory={{ notebook.home }}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
